In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./saved/out_nlp_.csv", delimiter="\t")

In [3]:
df1 = pd.read_csv("./saved/n_out_nlp__wikidata.csv", delimiter="\t")

In [ ]:
df.tail(5)

In [ ]:
df1.head(5)

### Filtering the dataframe

In [4]:
df = df[df["def words"] != "-"]

In [5]:
n_df1 = df1[df1["label"].isin(df["title"])]
n_df1.head(2)

  title          label                    type
1   Q17          Japan  Q3624078|Q112099|Q6256
2   Q18  South America           Q5107|Q855697

In [6]:
n_df = df[df.title.isin(df1["label"])]
n_df.head(2)

,title,type,def words,infobox_name,infobox,categories,wikilinks
3,A,article,first|letter,-,-,ISO basic Latin letters|Vowel letters,A#Related characters|Latin script|Alphabet|Log...
4,Alabama,article,state,Infobox U.S. state,official_name:State of Alabama|name:Alabama|im...,Alabama|1819 establishments in the United Stat...,Coat of arms of Alabama|Northern flicker|Dixie...

### Getting the categories (or types, eg. human, etc)

In [ ]:
cat = set()
for i in df1["type"]:
    cat.update(str(i).split("|"))

In [ ]:
categories = df1[df1.title.isin(cat)]

In [ ]:
categories

In [ ]:
df1[df1["title"] == "Q89934"]

# Organizing data

In [9]:
from collections import defaultdict

s_data = {}
for i, row in n_df.iterrows():
    # tmp = categories[categories["title"] == n_df1[n_df1["title"] == row["title"]]["type"]]

    tmp = n_df1[n_df1["label"] == row["title"]]["type"].iloc[0].split("|")
    for t in tmp:
        if t not in s_data:
            s_data[t] = defaultdict(int)
        
        for word in row["def words"].split("|"):
            s_data[t][word] += 1

In [13]:
s_data["Q5"] #human

defaultdict(int,
            {'lawyer': 9,
             'statesman': 19,
             'american': 234,
             'Greek': 20,
             'polymath': 9,
             'philosopher': 46,
             'writer': 35,
             'retire': 11,
             'tennis': 4,
             'professional': 16,
             'player': 11,
             'world': 1,
             'english': 49,
             'german': 62,
             'theoretical': 7,
             'bear': 16,
             'physicist': 30,
             'king': 12,
             'producer': 28,
             'director': 32,
             'regard': 2,
             'film': 32,
             'artist': 12,
             'screenwriter': 14,
             'japanese': 8,
             'personality': 5,
             'russian': 13,
             'former': 18,
             'mathematician': 39,
             'Minister': 5,
             'french': 44,
             'journalist': 5,
             'algerian': 1,
             'grandmaster': 3,
             'chess': 3,
             'Champion': 1,
             'alsatian': 1,
             'Persian': 1,
             'engineer': 25,
             'civil': 4,
             'pre-socratic': 6,
             'scientist': 21,
             'mexican': 3,
             'leader': 11,
             'Roman': 21,
             'Archbishop': 4,
             'seventh': 2,
             'clergyman': 1,
             'scholar': 7,
             'Alain': 1,
             'Lille': 1,
             'de': 2,
             'French': 1,
             'margrave': 4,
             'Duke': 1,
             'first': 6,
             'Sultan': 7,
             'ānī': 1,
             'āli': 3,
             'Queen': 3,
             'prominent': 1,
             'member': 12,
             'friar': 3,
             'Catholic': 2,
             'dominican': 2,
             'bishop': 3,
             'portuguese': 1,
             'general': 10,
             'son': 3,
             'duke': 2,
             'grand': 1,
             'emperor': 24,
             'King': 22,
             'Byzantine': 7,
             'soldier': 4,
             '17th': 1,
             'president': 2,
             'identify': 1,
             'know': 4,
             '.': 2,
             'socratic': 1,
             'rhetorician': 1,
             'historian': 10,
             'active': 3,
             'ancient': 6,
             'language': 1,
             'prose': 1,
             'officer': 8,
             'scottish': 9,
             'privateer': 1,
             'bodybuilder': 1,
             'filmmaker': 18,
             'actor': 42,
             'economist': 10,
             'singer': 43,
             'host': 2,
             'indian': 7,
             'politician': 59,
             'chemist': 8,
             'italian': 22,
             'pioneer': 8,
             'physician': 11,
             'biologist': 9,
             'century': 6,
             'author': 22,
             'dutch': 8,
             'seafarer': 1,
             'explorer': 9,
             'merchant': 2,
             'designer': 6,
             'architect': 13,
             'finnish': 3,
             'norwegian': 10,
             'Professor': 2,
             'sculptor': 6,
             'painter': 24,
             'printmaker': 3,
             'Neoclassical': 1,
             'famous': 1,
             'songwriter': 29,
             'political': 8,
             'right': 1,
             'afghan': 4,
             'commander': 3,
             'Eastern': 1,
             'astronomer': 12,
             'baroque': 2,
             'composer': 18,
             'psychiatrist': 3,
             'neuropathologist': 2,
             'colleague': 1,
             'welsh': 1,
             'swiss': 10,
             'Holy': 2,
             'Empress': 1,
             'revolutionist': 1,
             'wrestler': 1,
             'reign': 1,
             '32nd': 1,
             'Emir': 1,
             'swedish': 8,
             'comedian': 9,
             'nuclear': 1,
             'burmese': 1,
             'rabbi': 2,
             'one': 9,
             'austrian': 12,
             'marshal': 1,
             'field': 1,
             'Benedictine': 3,
             'monk': 4,
             'israeli': 2,
             'game': 1,
             'manga': 4,
             'emeritus': 2,
             'computer': 14,
             'christian': 5,
             'danish': 8,
             'notable': 1,
             'co-composer': 1,
             'musician': 13,
             'magnate': 3,
             'business': 2,
             'activist': 16,
             'actress': 30,
             'Source': 1,
             'free': 1,
             'Software': 1,
             'british': 21,
             'irish': 6,
             'saint': 1,
             'theorist': 8,
             'canadian': 13,
             'photographer': 2,
             'laureate': 3,
             'logician': 2,
             'baseball': 3,
             'footballer': 7,
             'Ottoman': 5,
             'cricketer': 1,
             'international': 1,
             'trinidadian': 1,
             'conservationist': 1,
             'illustrator': 1,
             'queen': 4,
             'rock': 1,
             'guitarist': 2,
             'bly': 2,
             'abbot': 1,
             'psychologist': 6,
             'behaviorist': 1,
             'religious': 2,
             'settler': 1,
             'south': 4,
             'african': 4,
             'comic': 1,
             'zoologist': 2,
             'botanist': 2,
             'playwright': 5,
             'librettist': 1,
             'critic': 4,
             'father': 1,
             'prussian': 1,
             'pronounce': 1,
             'biblical': 1,
             'lead': 2,
             'founder': 6,
             'professor': 3,
             'Frankish': 1,
             'romanian': 2,
             'inscribe': 3,
             'woman': 1,
             'surgeon': 1,
             'cardiac': 1,
             'sailor': 1,
             'theologian': 3,
             'cartoonist': 3,
             'Patriarch': 1,
             'impressionist': 1,
             'mystic': 2,
             'geologist': 4,
             'Enlightenment': 1,
             'inventor': 7,
             'rapper': 2,
             'football': 5,
             'goalkeeper': 1,
             'winner': 1,
             'poet': 9,
             'jazz': 4,
             'pianist': 6,
             'chinese': 4,
             'television': 2,
             'Argentine': 2,
             'manager': 3,
             'co': 1,
             'creator': 2,
             'Nicaraguan': 1,
             'bohemian': 1,
             'princess': 2,
             'Soviet': 4,
             'documentary': 1,
             'confuse': 2,
             'anthropologist': 3,
             'linguist': 4,
             'developer': 1,
             'advocate': 1,
             'book': 1,
             'software': 3,
             'editor': 1,
             'citizen': 1,
             'modernist': 1,
             'Lutheran': 1,
             'reformer': 4,
             'humanist': 1,
             'suffragist': 1,
             'anarchist': 1,
             'consort': 3,
             'England': 1,
             'system': 1,
             'subject': 1,
             'propose': 1,
             'sage': 1,
             'knight': 1,
             'castilian': 1,
             'warlord': 1,
             'athel': 1,
             'ethel': 1,
             '124th': 1,
             'diplomat': 6,
             'April': 1,
             'syriac': 1,
             'hymnographer': 1,
             'deacon': 1,
             'Christian': 1,
             'middle': 2,
             'distance': 2,
             'runner': 2,
             'researcher': 1,
             'vintner': 1,
             'bandleader': 2,
             'multi-instrumentalist': 1,
             'team': 1,
             'coach': 1,
             'navarrese': 1,
             'missionary': 1,
             'social': 3,
             'abolitionist': 2,
             'mechanical': 2,
             'biophysicist': 1,
             'molecular': 2,
             'neuroscientist': 1,
             'spanish': 6,
             'dictator': 2,
             'organic': 1,
             'trader': 1,
             'sea': 1,
             'captain': 1,
             'American': 1,
             'novelist': 10,
             'essayist': 3,
             'major': 1,
             'symbolist': 1,
             'Prime': 1,
             '21st': 1,
             'Humanist': 1,
             'write': 2,
             'broadcaster': 1,
             'admiral': 3,
             'furniture': 1,
             'IMPERATOR': 1,
             'entrepreneur': 1,
             'storyteller': 1,
             'model': 5,
             'elector': 3,
             'man': 1,
             'legal': 2,
             'force': 1,
             'regent': 2,
             'landowner': 1,
             'bosnian': 1,
             'serb': 1,
             'glottologist': 1,
             'obituary': 1,
             'industrialist': 1,
             'Reichsführer': 1,
             'neurologist': 2,
             'jewish': 2,
             'endocrinologist': 1,
             'geographer': 2,
             'Egyptologist': 1,
             'archaeologist': 2,
             'businessman': 4,
             'abbess': 1,
             'microbiologist': 1,
             'consultant': 1,
             'ionian': 2,
             'native': 1,
             'carthaginian': 1,
             'conquistador': 1,
             'councillor': 1,
             'lecturer': 2,
             'publisher': 2,
             'magazine': 1,
             'communist': 3,
             'belgian': 2,
             'League': 1,
             'Baseball': 1,
             'sixth': 2,
             'Cornish': 1,
             'Army': 1,
             'senior': 1,
             'figure': 5,
             'conductor': 1,
             'virtuoso': 1,
             'moroccan': 2,
             'muslim': 1,
             'berber': 1,
             'Admiral': 1,
             'Marshal': 1,
             'lyricist': 2,
             'Hong': 1,
             'Kong': 1,
             'determine': 1,
             'believe': 1,
             'blacksmith': 1,
             'Nazi': 2,
             'minister': 3,
             'prime': 2,
             '13th': 2,
             'populist': 1,
             'Hungarian': 1,
             'Genevan': 1,
             '11th': 1,
             'philanthropist': 2,
             'latin': 1,
             'priest': 2,
             'confessor': 1,
             'dead': 1,
             'Medal': 1,
             'itinerant': 1,
             'preacher': 2,
             'Cross': 1,
             'psychoanalyst': 1,
             'organist': 1,
             'name': 3,
             'independence': 1,
             'naval': 2,
             'electrical': 2,
             'Prince': 3,
             'Renaissance': 1,
             'lutenist': 1,
             'ornithologist': 2,
             'naturalist': 1,
             'chronicler': 1,
             'Empire': 1,
             'holy': 1,
             'female': 1,
             'monarch': 1,
             'independent': 2,
             'environmentalist': 1,
             'futurist': 1,
             'Foreign': 1,
             'swimmer': 1,
             'competition': 1,
             'racing': 2,
             'driver': 2,
             'australian': 6,
             'revolutionary': 6,
             'Yugoslav': 1,
             'official': 3,
             'Ghanaian': 1,
             'basketball': 2,
             'ethologist': 2,
             'biochemist': 1,
             'skater': 2,
             'classicist': 1,
             'spy': 1,
             'SS': 1,
             'functionary': 1,
             'dancer': 1,
             'programmer': 2,
             'educator': 2,
             'Marxist': 1,
             'planner': 1,
             'no.': 1,
             'experimental': 1,
             'fifth': 1,
             'legendary': 3,
             'gymnast': 1,
             'Ukrainian': 1,
             'artistic': 1,
             'ophthalmologist': 1,
             'polish': 2,
             'promote': 1,
             'exponent': 1,
             'Gaelic': 1,
             'form': 1,
             'mediaeval': 1,
             'only': 1,
             'speculative': 1,
             'fiction': 2,
             'phenomenological': 1,
             'sociologist': 3,
             'newspaper': 1,
             'presenter': 1,
             'consul': 1,
             'martial': 1,
             'graphic': 1,
             'Romanized': 1,
             'turkish': 1,
             'President': 1,
             'third': 1,
             'trumpeter': 1,
             'owner': 3,
             'hijacker': 1,
             'egyptian': 1,
             'duchess': 1,
             'head': 1,
             'Party': 1,
             'give': 1,
             'masculine': 1,
             'lebanese': 1,
             'last': 3,
             'aviator': 1,
             'wife': 1,
             'person': 1,
             'astronaut': 1,
             'Conservative': 1,
             'astrologer': 1,
             'repute': 1,
             'patron': 2,
             'courtesan': 1,
             'hurdler': 1,
             'consider': 1,
             'note': 2,
             'conservative': 1,
             'bey': 1,
             'second': 2,
             'ō': 1,
             'daimy': 1,
             'mineralogist': 1,
             'mummy': 1,
             'natural': 1,
             'preserve': 1,
             'shortstop': 1,
             'athenian': 1,
             'traveler': 1,
             'idealist': 1,
             'cover': 1,
             'story': 1,
             'moral': 1,
             'Library': 1,
             'Laurentian': 1,
             'think': 1,
             'senator': 1,
             'military': 1,
             'publish': 1,
             'Florentine': 1,
             'reporter': 1,
             'pakistani': 1,
             'cambodian': 1,
             'supervisor': 1,
             'Navy': 1,
             'Gene': 1,
             'Norman': 1,
             'University': 1,
             'stage': 1,
             'evolutionary': 1,
             'medieval': 2,
             'rank': 1,
             'ss': 1,
             'Surrealist': 1,
             'mogul': 1,
             'media': 2,
             'mathematical': 1,
             'cleric': 1,
             'iranian': 1,
             'Laureate': 1,
             'physical': 1,
             'folklorist': 1,
             'varangian': 1,
             'chieftain': 1,
             'tycoon': 1,
             'sultan': 1,
             'longest': 1,
             'tenth': 1,
             'Electress': 1,
             'administrator': 1,
             'paleontologist': 1,
             'historical': 1,
             'martyr': 1,
             'virgin': 1,
             'anti-apartheid': 1,
             'proper': 1,
             'art': 1,
             'depict': 1,
             'star': 1,
             'Grand': 1,
             'investor': 1,
             'dish': 1,
             'traditional': 1,
             'nobleman': 1})

In [14]:
import json

json.dump(s_data, open("./saved/teste_.json", "w"))

# statistics

In [2]:
import json

s_data = json.load(open("./saved/word_count.json", "r"))

In [3]:
def lookup(word):
    tmp_dict = {}
    word = word.lower()
    for k in s_data:
        if word in s_data[k]:
            tmp_dict[k] = s_data[k][word]
    
    return {k: v for k, v in sorted(tmp_dict.items(), key=lambda item: item[1], reverse=True)}

In [7]:
a = lookup("letter")
a

{'Q19776628': 9,
 'Q3841820': 9,
 'Q4167410': 3,
 'Q9398093': 2,
 'Q482994': 1,
 'Q208569': 1}

# misc

In [ ]:
df[df.title.str.contains("(?i)scotland")]

In [ ]:
df[df.title.str.contains("(?i)^falmouth")]

In [ ]:
df.loc[6,]["def words"]